.download {
  padding-top: 0;

  &__bg {
    position: absolute;
    display: flex;
    max-width: 57.552vw;
    right: -13vw;
    bottom: -21vw;
    z-index: -1;
  }

  &__promo {
    position: absolute;
    width: 10.833vw;
    height: 10.833vw;
    background: url("../img/download/promo.png") center no-repeat;
    background-size: cover;
    padding-top: 0.365vw;
    left: 21vw;
    bottom: 3.3vw;

    &-big {
      font-size: 5.885vw;
      font-family: Philosopher, sans-serif;
    }

    &-mid {
      font-size: 1.771vw;
      font-family: Philosopher, sans-serif;
      margin-left: -1.49vw;
    }

    &-text {
      font-size: 0.677vw;
      margin-top: -0.521vw;
    }
  }

  &__inner {
    background-color: #fff;
    padding-top: 2.448vw;
    padding-right: 4.69vw;
    padding-bottom: 4.142vw;
    position: relative;
    box-shadow: 0 0 0 0.521vw #fff, 0 0 76px rgba(12, 13, 12, 0.1);
    border-radius: 15px;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: flex-end;
  }

  &__mockup {
    position: absolute;
    left: -23vw;
    top: 0.7vw;

    img {
      max-width: 66.875vw;
    }
  }

  &__form {
    max-width: 32.552vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-wrapper {
      display: flex;
      position: relative;
      width: 100%;
    }

    &-input {
      padding-left: 1.563vw;
      background-color: #f5f5f5;
      border: none;
      height: 3.906vw;
      border-radius: 100px;
      width: 100%;

      &-wrapper {
        flex-grow: 1;
      }

      &-text {
        color: #8b8b8b;
      }
    }

    &-hand {
      position: absolute;
      right: -0.6vw;
      bottom: -0.7vw;
      z-index: 1;

      img {
        max-width: 7.031vw;
      }
    }
  }

  &__badge {
    padding: 0.677vw 1.302vw;
    background-color: #e4f0f6;
    color: #858585;
    transform: skewX(-5deg);
    border-radius: 5px;
  }

  &__title {
    font-family: Philosopher, sans-serif;
  }

  &__btn {
    height: 3.906vw;
    z-index: 1;

    &-text-bot {
      font-family: Philosopher, sans-serif;
    }

    &-img {
      img {
        max-width: 1.354vw;
      }
    }
  }
}

@media (max-width: 900px) {
  .download__mockup img {
    max-width: 26rem;
  }

  .download__promo {
    display: none;
  }

  .download__mockup {
    position: absolute;
    top: unset;
    left: -10rem;
    bottom: -5rem;
  }

  .download {
    &__inner {
      padding-top: 2.5rem;
      padding-right: 0;
      padding-bottom: 4rem;
      justify-content: center;
    }

    &__form {
      max-width: 37rem;

      &-input {
        padding-left: 1.5rem;
        height: 4rem;
      }

      &-hand {
        right: -0.6rem;
        bottom: -0.7rem;
        display: none;

        img {
          max-width: 7rem;
        }
      }
    }

    &__badge {
      padding: 0.6rem 1.3rem;
    }

    &__btn {
      height: 4rem;

      &-img {
        img {
          max-width: 1.6rem;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .download__inner {
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .download__form-wrapper {
    flex-direction: column;
    padding: 1rem;
  }

  .download__form-input-wrapper {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
