.steps {
  padding-bottom: 0;

  &__subtitle {
    font-family: Philosopher, sans-serif;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;

    &:nth-child(1) {
      .steps__item-check {
        left: 1.1vw;
      }
    }

    &:nth-child(2) {
      .steps__item-check {
        left: -0.5vw;
      }
    }

    &:nth-child(3) {
      .steps__item-check {
        left: -0.4vw;
      }
    }

    &:nth-child(4) {
      .steps__item-check {
        left: -0.6vw;
      }
    }

    &:nth-child(5) {
      .steps__item-check {
        left: 0;
      }
    }

    &:nth-child(6) {
      .steps__item-check {
        left: -1.2vw;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &-num {
      background-image: linear-gradient(to top, #ffffff 0%, #ffffff 1%, #e8e8e8 100%);
      background-clip: text;
      color: #ffffff;
      font-family: Philosopher, sans-serif;
      font-size: 6.979vw;
      -webkit-text-fill-color: transparent;
    }

    &-check {
      width: 2.188vw;
      height: 2.188vw;
      box-shadow: 0 43px 101px rgba(18, 127, 255, 0.2), inset 0 0 20px rgba(255, 249, 230, 0.1);
      border-radius: 50%;
      background-image: linear-gradient(to top, #0476ff 0%, #0476ff 17%, #78b5fc 92%, #78b5fc 100%), linear-gradient(to top, #d3a867 0%, #d3a867 17%, #e5cd9e 92%, #e5cd9e 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 3vw;
      left: -0.6vw;

      img {
        max-width: 0.729vw;
      }
    }

    &-title {
      font-family: Philosopher, sans-serif;
    }

    &-phone {
      font-family: Philosopher, sans-serif;
      display: block;
    }
  }
}

@media (max-width: 900px) {
  .steps {
    &__inner {
      flex-wrap: wrap;
    }

    &__item {
      width: 26%;
      margin-bottom: 2rem;

      &-num {
        text-align: left;
        font-size: 7rem;
      }

      &:nth-child(1) {
        .steps__item-check {
          left: -1rem;
        }
      }

      &:nth-child(2) {
        .steps__item-check {
          left: -1rem;
        }
      }

      &:nth-child(3) {
        .steps__item-check {
          left: -1rem;
        }
      }

      &:nth-child(4) {
        .steps__item-check {
          left: -1rem;
        }
      }

      &:nth-child(5) {
        .steps__item-check {
          left: -1rem;
        }
      }

      &:nth-child(6) {
        .steps__item-check {
          left: -1rem;
        }
      }

      &-check {
        width: 2rem;
        height: 2rem;
        top: 3rem;

        img {
          max-width: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .steps__item {
    width: 48%;
  }
}